aws_region              = "ap-southeast-1"
project_name            = "motorshop"
environment             = "production"
vpc_cidr                = "10.0.0.0/16"
mongodb_host            = "cluster.mongodb.net"
mongodb_username        = "admin"
mongodb_password        = "your-admin-password"
jwt_secret              = "your-secret-key-at-least-32-bytes-long!!"
admin_username          = "admin"
admin_password          = "your-admin-password"
ecr_repository_name     = ""
frontend_s3_bucket_name = ""
images_s3_bucket_name   = ""
alarm_email             = "your-email@example.com"